---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../../layouts/mainLayout/MainLayout.astro";
import { generateQRCode } from "../../../components/qrCodeGenerate";
import { fetchApi } from "../../../utilities/fetchApi";
import { baseUrlApi } from "../../../consts/baseApi";
import type { Guest } from "@/interfaces";
const imgUrl = "../../../assest/imgs/conectados_.png";

const { id } = Astro.params;
const endpointCustomer = `/customer/${id}`; // Assuming this is a string

// Consulta a la API para obtener los datos del invitado
let guest;
try {
  guest = (await fetchApi(endpointCustomer)) as Guest;
} catch (error) {
  console.error("Error al obtener datos del invitado:", error);
}
if (!guest) {
  throw new Error(`No se encontraron datos para el invitado con ID: ${id}`);
}
const qrUrl = `https://revista-previser.netlify.app/public/arrival/${guest?.data?.document}`;
const qrCodeUrl = await generateQRCode(qrUrl);
---

<MainLayout title="Qr">
  <section>
    <article class="sm:flex sm:items-center h-dvh sm:h-5/6">
      <link rel="preload" href={qrCodeUrl} as="image" />
      <img class="sm:h-5/6 sm:w-[28em]" src={imgUrl} alt="imagen" width="400" />
      <div class="z-10 text-center p-10 qr flex flex-col items-center">
        <h1 class="sm:text-5xl p-3 text-white font-bold">
          {guest?.data?.name?.toUpperCase()}
          {guest?.data?.surname?.toUpperCase()}
        </h1>
        <img
          src={qrCodeUrl}
          alt="Código QR generado"
          class="sm:w-96 sm:h-96 w-60 h-60"
        />
      </div>
    </article>
  </section>
</MainLayout>
<style>
  .qr {
    transform: translate(10px, -44em);
  }
  @media (min-width: 768px) {
    .qr {
      transform: translate(10em, 10px);
    }
  }
</style>
