---
import { actions } from "astro:actions";
import AuthLayout from "../../layouts/authLayout/AuthLayout.astro";
import { ProtectedRoutes, PublicRoutes } from "../../utilities/routes";

interface Role {
  id: number;
  nombre: string | null;
  created_at?: Date | null;
  update_at?: Date | null;
  state?: boolean | null;
}

interface RoleResponse {
  data?: {
    data: Role[]; // Ajuste en la estructura anidada de `data`
  };
}

// Obtenemos los datos y verificamos que existan antes de mapear
// Intentamos obtener roles de manera segura, compatible con `SafeResult`
const response: RoleResponse = await actions.getRole();

const roles: Role[] = response?.data?.data || []; // Asignamos un array vacío en caso de que `data` sea `undefined`
---

<AuthLayout title="registro">
  <div class="flex justify-center self-center z-10">
    <div class="p-12 bg-white mx-auto rounded-2xl w-100">
      <div class="mb-4">
        <h3 class="font-semibold text-2xl text-gray-800">Registro</h3>
        <p class="text-gray-500">Crea un usuario.</p>
      </div>

      <form class="space-y-5">
        <!-- Username Field -->
        <div class="space-y-2">
          <label class="text-sm font-medium text-gray-700 tracking-wide"
            >Username</label
          >
          <input
            class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-400"
            placeholder="Username"
            name="username"
          />
        </div>

        <!-- Password Field -->
        <div class="space-y-2">
          <label class="text-sm font-medium text-gray-700 tracking-wide"
            >Password</label
          >
          <input
            class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-400"
            type="password"
            name="password"
            placeholder="Ingresar password"
          />
        </div>

        <!-- Role Select Field -->
        <div class="space-y-2">
          <label class="text-sm font-medium text-gray-700 tracking-wide"
            >Rol</label
          >
          <select
            class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-400"
            name="role_id"
          >
            {
              roles.length > 0 ? (
                roles.map((role) => (
                  <option value={role.id}>{role?.nombre?.toUpperCase()}</option>
                ))
              ) : (
                <option value="">No roles disponibles</option>
              )
            }
          </select>
        </div>

        <!-- Register Link -->
        <div class="text-sm">
          <a
            href={`/${PublicRoutes?.PUBLIC}/${PublicRoutes?.REGISTER}`}
            class="text-blue-800 hover:text-blue-500"
          >
            ¿No tienes cuenta?
          </a>
        </div>

        <!-- Submit Button -->
        <div>
          <button
            id="btn-submit"
            type="submit"
            class="w-full flex justify-center bg-blue-500 hover:bg-blue-300 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
          >
            Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</AuthLayout>

<script>
  import { ProtectedRoutes } from "../../utilities/routes";
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.querySelector("form") as HTMLFormElement;
  const btnSubmit = document.querySelector("#btn-submit");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnSubmit?.setAttribute("disable", "disable");

    const formData = new FormData(form);
    const { data, error } = await actions.registerUser(formData);

    if (error) {
      Swal.fire({
        icon: "error",
        title: "Credenciales no son correctas",
        text: error?.message,
      });
      btnSubmit?.removeAttribute("disabled");
      return;
    }

    // Handle successful registration
    Swal.fire({
      icon: "success",
      title: "¡Registro exitoso!",
      text: "Tu cuenta ha sido creada con éxito.",
    }).then(() => {
      window.location.replace(
        `/${ProtectedRoutes.PRIVATE}/${ProtectedRoutes.PROTECTED}`
      );
    });
  });
</script>
